<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceName" value="Image_To_Byte_Service"/>
    <add key="ServiceDisplayName" value="Сервис создал новое изображение"/>
    <add key="ServiceDescription" value="Этот сервис создает изображение на основе измененных данных в базе данных."/>
  </appSettings>
</configuration>