<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceName" value="SendingService"/>
    <add key="ServiceDisplayName" value="Sending......."/>
    <add key="ServiceDescription" value="This is service send channel,group,users and etc."/>
  </appSettings>
</configuration>