<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceName" value="TelegramBotService"/>
    <add key="ServiceDisplayName" value="Awesome Telegram Bot Service"/>
    <add key="ServiceDescription" value="This is the most amazing Telegram Bot Service."/>
  </appSettings>
</configuration>